/* SHAPES */
.triangle-up {
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 50px solid #555;
}

.triangle-down {
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 50px solid #555;
}
input[type=text] {
  text-align: right;
}
#cam-feed {
  text-align:left;
}
button[type=button] {
  text-align: right;
}
#angle-input-wrapper {
  text-align:right;
}

#cam-feed-wrapper {
    text-align:left;
}
