<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <title>SPUdeS UI</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="This is the user interface used to control and view the SPUdeS. SPUdeS is a project started at the University of Sherbooke to make a Stewart Platform.">
    <meta name="author" content="SPUdeS">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
    <link rel='stylesheet' href='css/index.css'>

    <!-- Setting up some HTTP Requests -->
    <script>
        function requestNewAngle() {
            var request = new XMLHttpRequest();
            var result = document.getElementById('result');
            request.onreadystatechange = function() {
                if(this.readyState == 4 && this.status == 200) {
                    result.innerHTML = this.responseText;
                    {#alert(request.responseText);#}
                } else {
                    result.innerHTML = "There was an error in the request"
                }
            };
            {#console.log('request.responseText:', request.responseText);#}
            {#console.log('request.readyState:', request.readyState);#}
            {#console.log('request.status:', request.status);#}
            request.open('POST', '/sendAngle', true)
            request.setRequestHeader('content-type', 'application/x-www-form-urlencoded;charset=UTF-8')
            request.send("angle=" + document.getElementById('angle').value);
        };
    </script>
</head>
<body>
    <img src="favicon.ico" alt="Image" width="100"/>
    <h1>SPUdeS User Interface</h1>
    <h3>This is a university project called SPUdeS. The goal is to make a working Stewart Platform. This web page will allow us to have a look at the actual model in motion while also controlling it.</h3>

    <img id='cam-feed' src="{{ url_for('video_feed') }}" alt="">

    <!-- TESTING BUTTONS -->

    <form action="/sendAngle/" method="get">
      <label>Angle Value:<input type="text" id="angle" value="" /></label>
      <button type="button" id="btn-angle" onclick="requestNewAngle();">Click</button>
      <div id="result"></div>

    </form>
    <!-- END OF TESTING BUTTONS -->

    <p>
        <a href="https://github.com/SPUdeS/SPUdeS">This GitHub Page</a> shows our full project code and CAD models.
    </p>

</body>
</html>

